# dev, staging, prod
ENVIROMENT='dev'

PORT=3010

DATABASE=
MYSQL_PORT=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_HOSTNAME=
MYSQL_DATABASE=


MYSQL_PORT_MULTISHOW=
MYSQL_HOSTNAME_MULTISHOW=amazonaws.com
MYSQL_USERNAME_MULTISHOW=
MYSQL_PASSWORD_MULTISHOW=
MYSQL_DATABASE_MULTISHOW=

PORTAL_FLEX_URL=
PORTAL_FLEX_TOKEN=

API_BACKUP
INDEX_API

CLIENT_ID=
CLIENT_SECRET=0

FIREBASE_KEY_BASE64
MIRROR_API_URL